<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading col-sm-12">
            <div class="pull-left">
                <h4 style="font-weight: bolder">Contacts</h4>
            </div>
            <div class="pull-right">
                <a class="pull-right btn btn-success" routerLink="new">New Contact</a>
            </div>
        </div>
        <div class="panel-body">
            <div class="col-xs-12">
                <br>
                <div class="row">
                    <div class="col-xs-12">
                        <cms-contact-item *ngFor="let contactEl of contacts" [contact]="contactEl"></cms-contact-item>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>