<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading col-lg-12">
            <div class="col-md-12">
                <h2 style="font-weight: bolder;">{{ contact.name }}</h2>
            </div>
            <div class="col-sm-5">
                <span class="pull-left">
                    <img [src]="contact.imageUrl" alt="{{ contact.name }}" class="img-responsive" style="max-height: 100px;">
                </span>
            </div>
            <div class="col-sm-7" style="margin-top: 2em;">
                <div class="pull-right">
                    <a [routerLink]="['edit']" class="btn btn-primary" style="margin: 5px;">Edit</a>
                    <a (click)="onDelete()" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>

        <div class="panel-body">
            <div class="col-xs-12">
                <br>
                <div class="row">
                    <div class="col-xs-12">
                        <p>Email: {{ contact.email }}</p>
                        <p>Phone: {{ contact.phone }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>